In [1]:
# import library
import pandas as pd
import numpy as np

In [7]:
# import data
line_productivity = pd.read_excel('../data/raw/Manufacturing_Line_Productivity.xlsx',
                          sheet_name='Line productivity')

products = pd.read_excel('../data/raw/Manufacturing_Line_Productivity.xlsx',
                     sheet_name='Products')

dow_factors = pd.read_excel('../data/raw/Manufacturing_Line_Productivity.xlsx',
                          sheet_name='Downtime factors')

line_dow = pd.read_excel('../data/raw/Manufacturing_Line_Productivity.xlsx',
                     sheet_name='Line downtime')

*Line Productivity*

In [8]:
# check info
line_productivity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        38 non-null     datetime64[ns]
 1   Product     38 non-null     object
 2   Batch       38 non-null     int64
 3   Operator    38 non-null     object
 4   Start Time  38 non-null     object
 5   End Time    38 non-null     object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 1.9+ KB

In [9]:
line_productivity.head()

        Date Product   Batch Operator Start Time  End Time
0 2024-08-29  OR-600  422111      Mac   11:50:00  14:05:00
1 2024-08-29  LE-600  422112      Mac   14:05:00  15:45:00
2 2024-08-29  LE-600  422113      Mac   15:45:00  17:35:00
3 2024-08-29  LE-600  422114      Mac   17:35:00  19:15:00
4 2024-08-29  LE-600  422115  Charlie   19:15:00  20:39:00

In [10]:
line_productivity['Product'].value_counts()

Product
CO-600    15
RB-600     7
LE-600     6
CO-2L      5
DC-600     4
OR-600     1
Name: count, dtype: int64

In [11]:
line_productivity['Operator'].value_counts()

Operator
Charlie    11
Dee        11
Mac         8
Dennis      8
Name: count, dtype: int64

In [12]:
line_productivity.describe()

                                Date          Batch
count                             38      38.000000
mean   2024-08-30 23:22:06.315789568  422129.500000
min              2024-08-29 00:00:00  422111.000000
25%              2024-08-30 00:00:00  422120.250000
50%              2024-08-30 12:00:00  422129.500000
75%              2024-09-02 00:00:00  422138.750000
max              2024-09-03 00:00:00  422148.000000
std                              NaN      11.113055

In [13]:
# load to csv
line_productivity.to_csv('../data/processed/line_productivity.csv', index=False)

In [ ]:
# # load to neon postgresql
# line_productivity.to_sql(name='line_productivity', con='', index=False, if_exists='append')

38

*Products*

In [14]:
# check info of products table
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product         6 non-null      object
 1   Flavor          6 non-null      object
 2   Size            6 non-null      object
 3   Min batch time  6 non-null      int64
dtypes: int64(1), object(3)
memory usage: 324.0+ bytes

In [15]:
products

  Product      Flavor    Size  Min batch time
0  OR-600      Orange  600 ml              60
1  LE-600  Lemon lime  600 ml              60
2  CO-600        Cola  600 ml              60
3  DC-600   Diet Cola  600 ml              60
4  RB-600   Root Beer  600 ml              60
5   CO-2L        Cola     2 L              98

In [16]:
# load to csv
products.to_csv('../data/processed/products.csv', index=False)

In [ ]:
# # load to neon postgresql
# products.to_sql(name='products', con='', index=False, if_exists='append')

6

*Downtime Factors*

In [17]:
# check info
dow_factors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Factor          12 non-null     int64
 1   Description     12 non-null     object
 2   Operator Error  12 non-null     object
dtypes: int64(1), object(2)
memory usage: 420.0+ bytes

In [18]:
dow_factors

    Factor         Description Operator Error
0        1      Emergency stop             No
1        2        Batch change            Yes
2        3      Labeling error             No
3        4  Inventory shortage             No
4        5       Product spill            Yes
5        6  Machine adjustment            Yes
6        7     Machine failure             No
7        8  Batch coding error            Yes
8        9   Conveyor belt jam             No
9       10   Calibration error            Yes
10      11        Label switch            Yes
11      12               Other             No

In [19]:
# load to csv
dow_factors.to_csv('../data/processed/downtime_factors.csv', index=False)

In [ ]:
# # load to neon postgresql
# dow_factors.to_sql(name='downtime_factors', con='', index=False, if_exists='append')

12

*Line Downtime*

In [20]:
# check info
line_dow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       39 non-null     object
 1   Downtime factor  1 non-null      float64
 2   Unnamed: 2       6 non-null      float64
 3   Unnamed: 3       3 non-null      float64
 4   Unnamed: 4       10 non-null     float64
 5   Unnamed: 5       4 non-null      float64
 6   Unnamed: 6       13 non-null     float64
 7   Unnamed: 7       12 non-null     float64
 8   Unnamed: 8       7 non-null      float64
 9   Unnamed: 9       2 non-null      float64
 10  Unnamed: 10      4 non-null      float64
 11  Unnamed: 11      4 non-null      float64
 12  Unnamed: 12      7 non-null      float64
dtypes: float64(12), object(1)
memory usage: 4.1+ KB

In [21]:
line_dow.columns = line_dow.iloc[0,:]
line_dow = line_dow.drop(labels=0, axis=0).reset_index(drop=True)

In [22]:
line_dow = line_dow.melt(id_vars=["Batch"], var_name="Downtime Factor", value_name="Duration")
line_dow['Downtime Factor'] = line_dow['Downtime Factor'].astype('int')
line_dow

      Batch  Downtime Factor  Duration
0    422111                1       NaN
1    422112                1       NaN
2    422113                1       NaN
3    422114                1       NaN
4    422115                1       NaN
..      ...              ...       ...
451  422144               12       NaN
452  422145               12       NaN
453  422146               12       7.0
454  422147               12       NaN
455  422148               12       NaN

[456 rows x 3 columns]

In [23]:
# load to csv
line_dow.to_csv('../data/processed/line_downtime.csv', index=False)

In [ ]:
# # load to neon postgresql
# line_dow.to_sql(name='line_downtime', con='', index=False, if_exists='append')

456